[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
dash-pivottable = {path = "./dash_pivottable"}
pyinstaller = "*"
flask = "*"
dash = "*"
xlrd = "*"

[requires]
python_version = "3.7"
